version: '3.8'

services:
  app:
    build: .
    image: process-injection-lab
    container_name: ptrace-test
    stdin_open: true
    tty: true
    pid: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor=unconfined
    command: /bin/bash
