version: '3.8'

services:
  app:
    build: .
    image: cgroup-escape-lab
    container_name: cgroup-test
    stdin_open: true
    tty: true
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor=unconfined
    command: /bin/bash
